name: Java DevSecOps CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test-sonar-docker-deploy:
    runs-on: ubuntu-latest

    env:
      DOCKER_IMAGE: java-devsecops-demo
      DOCKER_TAG: dev
      DOCKER_REGISTRY: localhost:5000

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'

    - run: mvn clean test package

    - uses: SonarSource/sonarcloud-github-action@master
      with:
        args: >
          -Dsonar.projectKey=java-devsecops-demo
          -Dsonar.organization=your-org
          -Dsonar.host.url=https://sonarcloud.io
          -Dsonar.login=${{ secrets.SONAR_TOKEN }}

    - run: mvn deploy -DskipTests
      env:
        MAVEN_USERNAME: ${{ secrets.NEXUS_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.NEXUS_PASSWORD }}

    - run: docker build -t $DOCKER_IMAGE:$DOCKER_TAG .
    - run: |
        docker tag $DOCKER_IMAGE:$DOCKER_TAG $DOCKER_REGISTRY/$DOCKER_IMAGE:$DOCKER_TAG
        docker push $DOCKER_REGISTRY/$DOCKER_IMAGE:$DOCKER_TAG

    - uses: azure/k8s-deploy@v5
      with:
        manifests: |
          k8s/deployment.yaml
          k8s/service.yaml
        images: $DOCKER_REGISTRY/$DOCKER_IMAGE:$DOCKER_TAG
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}